pykeops
# botorch>=0.13.0
git+https://github.com/tingtang2/botorch.git
wandb
multiprocess
gym
box2d
pytest
yapf
rdkit
selfies 
guacamol[rdkit] @ git+https://github.com/DonneyF/guacamol.git@0d2e225ce2d96a4b60922f8ba18ce02b12ae5ba6
scipy==1.15.3
lightning
torch
git+https://github.com/ksehic/LassoBench.git
# git+https://github.com/rfeinman/pytorch-minimize.git
# git+https://github.com/cornellius-gp/linear_operator.git@sparsity # have to do these at the end customly due to dependency conflicts
# git+https://github.com/tingtang2/gpytorch.git@computation-aware-gps-v2